@import url("https://fonts.googleapis.com/css?family=Raleway|PT+Serif:700");

:root {
  --main-font-color: #1a1a1a;
  --main-bg-color: white;
  --main-theme-color: rgb(243, 168, 47);
  --light-white: #f5f5f5;
  --light-gray: #ccc;
  --light-black: #282a39;
  --container-width: 768px;
  --font-body-stack: Raleway, Charcoal, sans-serif;
  --font-heading-stack: "PT-serif", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: var(--container-width);
  margin-right: auto;
  margin-left: auto;
}
.button {
  padding: 1rem 3.8rem;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  opacity: 0.9;
  font-weight: bold;
  transition: 0.3s all ease;
}
.button:hover {
  opacity: 1;
  background: var(--light-black);
  color: white;
}